.block {
    color: #ff0000;
    height: 30px;
    background-color: transparent;
    border: 0;

    display: flex;
    align-items: flex-end;
    font-family: "Roboto";
    cursor: pointer;
}

.basket {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.modal {
    display: none;
}

.modalBlock {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(167, 167, 167, 0.829);
    position: fixed;
    top: 0;
    left: 0;
}

.modalOpen {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(80, 161, 161);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: "Roboto";
    color: #101010;
    font-size: 24px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.deleteBtn {
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: #ff0000;
    background-color: rgb(200, 209, 255);

    cursor: pointer;
    &:hover {
        background-color: rgb(200, 209, 255, 0.7);
    }
}