.changeInputBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;

    position: relative;
}

h2 {
    padding: 0;
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -40px;

    font-family: "Roboto";
}