.listHeader {
    width: 350px;
    margin: 15px 0;
    padding: 15px;
    font-size: 20px;
    font-family: "Roboto";
    color: #101010;
    border: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    position: relative;
}