.block {
    width: 100vw;
    height: 100vh;
    background-color: #3f3f3f8f;
    z-index: 9;

    position: fixed;
    top: 0;
    left: 0;
}

.innerBlock {
    width: 450px;
    height: 100vh;
    background-color: aliceblue;
    position: absolute;
    z-index: 9px;
    top: 0;
    right: 0px;

    overflow: scroll;
}

.header {
    padding: 7px;
    background-color: rgb(200, 209, 255);
    color: #3f3f3f;
    font-family: "Roboto";
    font-size: 24px;
}

h2 {
    font-size: 19px;
    color: #949393;
    padding-left: 24px;
    font-family: "Roboto";
}