.open {
    width: 290px;
    height: 50px;
    margin-bottom: 25px;

    background-color: transparent;
    
    border: 1.5px dashed #7a7a7a;
    border-radius: 5px;

    font-size: 16px;
    color: #7a7a7a;
    font-family: "Roboto";
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .35s;

    &:hover {
        cursor: pointer;
        background-color: aliceblue;
    }
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
}

@media (max-width: 400px) {
    .open {
        width: 267px;
    }
}