.modalBlock {
    width: 800px;
    height: 500px;
    padding: 46px;
    background-color: azure;
    border-radius: 10px;

    position: relative;
}

.inform {
    width: 300px;
    position: relative;
}

.informActivities {
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    padding: 0;
    color: #101010;
}

@media (max-width: 850px) {
    .modalBlock {
        width: 80%;
        height: auto;
        padding: 8px;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inform {
        width: auto;
    }
}