.block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.openFormBtn {
    background-color: rgb(200, 209, 255);
    border: 0;
    border-radius: 5px;

    font-family: "Roboto";
    width: 200px;
    height: 40px;

    cursor: pointer;

    &:hover {
        background-color: rgb(145, 152, 187);
    }
}

.createListForm {
    width: 100vw;
    height: 100vh;
    background-color: rgba(168, 168, 168, 0.76);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    align-items: center;
    justify-content: center;

    display: none;
}

.formInnerContainer {
    width: 300px;
    height: 300px;
    padding: 64px 64px 0px 24px;
    background-color: aliceblue;
    border-radius: 10px;


    position: relative;

    display: flex;
    flex-direction: column;
}

.closeModal {
    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;

    font-size: 24px;
    border: 0;
    background-color: transparent;
}

.label {
    margin-bottom: 25px;    
}

.listTitle {
    color: #101010;
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;

    font-size: 16px;
    font-family: "Roboto";

    display: block;
    margin-bottom: 5px;

    outline: none;
}

.errorMessage {
    color: red;
    font-family: "Roboto";
    font-size: 14px;
}

.submitBtn {
    width: 150px;
    height: 40px;
    background-color: rgb(200, 209, 255);
    
    border: 0;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: rgb(145, 152, 187);
    }
}

.formVisible {
    display: flex;
}

@media (max-width: 1440px) {
    .openFormBtn {
        width: 100px;
    }
}

@media (max-width: 700px) {
    .formInnerContainer {
        width: 80%;
    }
}